.booking-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.user-header {
    color: rgb(0,64,128);
    display: flex;
    justify-content: center;
}

.booking-form {
    width: 380px;
    border: 1px solid rgba(0,0,0,20%);
    border-radius: 30px;
    background-color: rgba(0,0,0,10%);
    margin-bottom: 10px;
}

.dropList, .dropListEdit {
    width: 200px;
    height: 30px;
    margin: 5px;
}

.reservation-title {
    text-align: center;
}

.beachChair {
    display: flex;
    justify-content: center;
}