.user-header {
    color: rgb(0,64,128);
    display: flex;
    justify-content: center;
}

.dropList, .dropListEdit {
    width: 200px;
    height: 30px;
    margin: 5px;
}

.reservation-title {
    text-align: center;
}
