.user-header {
    color: rgb(0,64,128);
    display: flex;
    justify-content: center;
}

.bookBtn {
    margin-bottom: 20px 
}


.dropCalendar {
    color: rgb(0,64,128);
    height: 25px;
    border-radius: 8px;
    margin: 5px;
}

.dropList, .dropListEdit {
    width: 270px;
    height: 30px;
    margin: 5px;
    text-align: center;
    color: rgb(0,64,128);
    border-radius: 8px;
}

.spacer {
    height: 100px;
}
