.home-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.value-proposition {
    margin-top: 20%;
    margin-bottom: 20%;
}

.value-header1 {
    color: white;
    font-size: 6vw;
}
.value-header2 {
    color: white;
    font-size: 2vw;
    text-align: center;
}

.value-btn-container {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
   
}



.topReview {
    width: 60%;
    border: 1px solid rgba(0,0,0,10%);
    border-radius: 30px;
    background-color: rgba(0,0,0,40%); 
    box-shadow: 0px 0px 15px rgba(0,0,0,20%);
}

.review-text {
    overflow-wrap: break-word;
}

.topReview h2 {
    text-align: center;
    margin: 10px 5% 20px 5%;
    color: rgb(0,64,128);
    font-size: 20px;
    letter-spacing: .25rem;
    font-weight:lighter;
    background-color: rgba(255,255,255,50%); 
    border-radius: 10px;
    padding: 4px;
}

.topReview-info {
    margin: 10px 30px;
    color: white;
    font-size: 16px;
    letter-spacing: .25rem;
    font-weight:lighter;
}

.topReview-stars {
    margin: 0px 20px 20px 30px;
}

.navBtnHome {
    border: 1px solid rgba(0,64,128,100%);
    border-radius: 10px;
    height: 25px;
    padding: 1rem;
    background-color: rgba(74,172,39,100%);
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    color: rgb(0,64,128);
    font-size: 20px;
    letter-spacing: .25rem;
    font-weight:lighter;
}

.navBtnHome:hover {
    box-shadow: 5px 5px rgba(0,0,0,20%);
    font-weight:700;
}