.navBtn, .navBtn1, .navBtn2 {
    border: 1px solid rgba(0,64,128,100%);
    border-radius: 10px;
    height: 80px;
    background-color: rgba(74,172,39,100%);
    text-decoration: none;
    color:  rgba(0,64,128,100%);
    font-weight: 400;
}

.navBtn1 {
    padding: 5px 20px;
}

.navBtn2 {
    padding: 5px 8px;
}

.navBtn1:hover, .navBtn2:hover {
    box-shadow: 5px 5px rgba(0,0,0,20%);
    font-weight:700;
}

.nav-background {
    display: flex;
    position: fixed;
    top: -5px;
    width: 100%;
    height: 105px;
    border: 1px none black;
    background-color: rgb(212, 221, 221);
}

nav {
    position: fixed;
    display:flex;
    justify-content:space-between;
    margin-bottom: 0px 5px 50px 0px;
    height: 60px;
    width:98%;
    margin: 0px 5px;
    border: 2px solid rgba(0,64,128,100%);
    border-radius: 20px;
    background-color: rgba(255,255,51,100%);
    z-index: 2;
    top: 20px;
}

.navUser {
    display:flex;
}

.navUser-container1, .navUser-container2 {
    margin: 20px 22px;
}

#beachchair-home-link {
    color: rgb(0,64,128);
    font-size: 30px;
    font-weight:bold;
    width: 90px;
    line-height: 25px;
    position: fixed;
    top: 27px;
    text-decoration: none;
}

#beachchair-home-link:hover {    
    top: 26px;
    font-size: 31px;
}

.logo-upper {
    position: fixed;
    left: 20px;
}

.imgLogo {
    width: 80px;
    position: fixed;
    left: 125px;
    margin-top: 3px;
}

.logo-city {
    color: rgb(0,64,128);
    font-size: 18px;
    letter-spacing: .25rem;
    font-weight:lighter;
    text-decoration: none;
    width: 240px;
    position: fixed;
    top: 82px;
    left: 24px;
}

.reviewBtn {
    color: rgb(0,64,128);
    font-size: 18px;
    letter-spacing: .15rem;
    font-weight:lighter;
    text-decoration: none;
}

.reviewBtn:hover {
    font-size: 18px;
    font-weight:800;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown, .dropbtn {
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 2px 16px;
    background-color: rgba(0,0,0,0);
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* border-radius: 10px; */
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 8px 16px;
    margin: 0px 20x;
    text-decoration: none;
    display: block;
    text-align: left;
    border: 1px solid rgba(0,0,0,.1);
    background-color: #f3f2ef;
    /* border-radius: 10px; */
}

.dropdown-content a:hover {
    font-weight: bold;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.logoutBtn {
    border: 1px solid rgba(0,64,128,100%);
    border-radius: 10px;
    height: 38px;
    background-color: rgba(74,172,39,100%);
    text-decoration: none;
    color:  rgba(0,64,128,100%);
    font-weight: 400;
    font-size: 1rem;
    min-width: 100%;
    transition: all .2s ease-in-out; 
}

.logoutBtn:hover {
    font-weight: bolder;
    letter-spacing: .22rem;
}