.footer-container {
    position: relative;
    bottom: -200px;
}

.aboutImage {
    margin: 1px;
    width: 100px;
    border: 1px solid rgba(0,0,0,30%);
    border-radius: 10px;
}

.aboutMe,
.aboutMe p {
    text-align: center;
    margin: 0px 200px 0px 200px;
    border: 0px;
}


.fa-linkedin, .fa-github-square {
    margin: 5px;
}


.team-container {
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: 10px auto 0 auto;
}

.team-container1 {
    color: green;
    height: 20px;
    background-color: rgba(255,255,255,20%);
}

.team-container2 {
    margin: 1px;
    width: 240px;
    display: flex;
    justify-content: space-around;
}

.about-subcontainer {
    margin : 0 auto 0 auto;
    margin-top: 15%;
    width: 500px;
    border: 1px solid rgba(0,0,0,20%);
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,30%);
    color: rgb(0,64,128);
    padding: 20px 20px 0px;
    background-color: rgba(255,255,255,50%); 
    font-size: 20px;
    letter-spacing: .25rem;
    font-weight:lighter;
    text-align: center;
}


.link-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.fa-brands, .fa-solid {
    margin: 25px;
}

.fa-github-square, .fa-linkedin {
    color: rgb(40, 64, 12);
}



.footer-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: .8rem;
    padding: 6px 8px;
    color: white;
    text-decoration: none;
    background-color: rgba(0,0,0,25%); 
    box-shadow: 0px 0px 15px rgba(0,0,0,30%);
    border-radius: 30%;
    
}

.footer-link:hover {
    font-size: .9rem;
}

/* TECH CSS below*/

.tech-container {
    display: flex;
    justify-content: center;
    align-items: center;    
}


.tech-heading {
    margin: 10px auto 0 auto;
    color: rgb(0,64,128);
    background-color: rgba(255,255,255,60%); 
    width: 400px;
    border-radius: 10px;
    font-size: 20px;
    letter-spacing: .25rem;
    font-weight:lighter;
    padding: 4px;
    text-align:  center;
}
.tech-subcontainer {
    margin : 200px auto 0 auto;
    background-color: rgba(255,255,255,40%);
    width: 500px;
    border: 1px solid rgba(0,0,0,20%);
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,30%);
}
.tech {
    display: flex;
    justify-content: center;
    align-items: center;    
}


/* ABOUT CSS below*/

.aboutP {
    display: flex;
    justify-content: center;
    z-index: 0;
}

.headingOne {
    margin-top: 80px;
    font-size: .9rem;
    font-weight: bold;
}

.headingTwo {
    margin: 20px 0px;
    font-size: 2.2rem;
    font-weight: bolder;
}

.aboutP {
    text-align: center;
    margin: 0px 200px 20px 200px;
}



.footerImage {
    width: 30px;
    height: 30px;
    
}

.about {
    text-align: center;
    font-size: 1.1rem;
    margin: 100px;
}