.login-form-container {
   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorMessage {
    color: red;
}

.demo {
    height: 50px;
    width: 180px;
    margin: 10px;
    background-color:  rgb(74,172,39);
    color: rgb(0,64,128);
    border-color: rgba(0, 197, 133, 0);
    font-size: 1rem;
    font-weight: 500;
    padding: 6px 16px 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease 0s;
    text-decoration: none;
}