.error-container {
color: red;
display: flex;
justify-content: center;
margin: 0px 18px 0px 0px;
}

.error-container ul {
    list-style: none;
}

.review-title {
    text-align: center;
}

#rating-input {
width: 50px;
height: 30px;
}

.star-rating {
border: solid 1px #ccc;
display: flex;
flex-direction: row-reverse;
font-size: 2.0em;
justify-content: space-around;
padding: 0 .2em;
text-align: center;
width: 5em;
}

.star-rating input {
display: none;
}

.star-rating label {
color: #ccc;
cursor: pointer;
}

.star-rating :checked~label {
/* color: #f90; */
color: #fc0;
}

.star-rating label:hover,
.star-rating label:hover~label {
/* color: #fc0; */
color:#ffff33;
}

.star-review {
color: #ffff33;
font-size: 1.5em;
}

.empty-stars {
color: #ccc
}

.dropList, .dropListEdit {
width: 200px;
height: 30px;
margin: 5px;
}


.reviewInput {
height: 60px;
background-color: white;       
width: 264px;     
font-size: 16px;  
border: 1px solid rgba(0,64,128,100%);
color: rgba(0,64,128,100%);
}

.review-spacer {
    margin-bottom: 20%;
}
